/* Header */
.header {
    background-color: #0077cc;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-link {
    display: flex;
    align-items: center;
}

.logo-img {
    max-width: 100px; /* Adjust the max-width to control the size */
    height: auto;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #ffdd57; /* Highlight color on hover */
}

/* Mobile Responsiveness */
@media (max-width: 80px) {
    .header-content {
        flex-direction: column;
    }

    .nav-links {
        margin-top: 10px;
    }
}
